body {
    font-family: "Economica", sans-serif; 
 }

#hlist{
 list-style-type: none;
 width:100%;
 background-color: #81AB85;
 color: white;
 font-weight: bold;
}
 
.sidenav {
   height: 100%;
   width: 0;
   z-index:20;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #EBEBEB;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }
 
 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #425C44;
   display: block;
   transition: 0.3s;
 }
 
 .sidenav a:hover {
   color: #81AB85;
 }
 
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }

 p#titulo{
     font-size:40px;
     color:#425C44;
     border-bottom: red 3px solid;
     border-bottom-width:50%;
     margin-top:-05px;

 }

 input[type="text"]{
     border-radius:12px 10px 10px;
     width:500px;
     height:40px; 
     border:1px rgb(122, 122, 122) solid;
     margin-left:400px;
     margin-bottom:-5px;   
 }

 .container{
    width:1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:200px;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: rgb(127, 153, 129);
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

  
 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }

/*  Rodape */

.rodape_final{
    background-color:#81AB85;
    color:white;
    display:flex;
    justify-content: space-around;
    height: 120px;
    width: 110%;
    bottom:0;
    float: bottom;
}

.div_rod{
    font-size: 20px;
    width:28%;
    margin: 20px;
    padding: 0px 25px 25px;
}

.email{
    display:flex ;
}

.telefone{
    display: flex;
}

.direit_rod{
    width:28%;
    margin: 10px;
    padding: 90px 25px 25px;
    font-size: 15px;
}