body {
    font-family: "Economica", sans-serif; 
 }

#hlist{
 list-style-type: none;
 width:100%;
 background-color: #81AB85;
 color: white;
 font-weight: bold;
}
 
.sidenav {
   height: 100%;
   width: 0;
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #EBEBEB;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }
 
 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #425C44;
   display: block;
   transition: 0.3s;
 }
 
 .sidenav a:hover {
   color: #81AB85;
 }
 
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }

.cover{
  margin-left:200px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
 
}

.flex-container > .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-radius: 12px;

  }


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #81AB85;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.imgcard {
   border-radius: 12px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

p{
  font-size:20px;
}

.logo{
  margin-top:-50px;
}

.user{
  margin-left:80px;
}

.prontuario{
  color:#425C44;
  font-size:16px;
  font-weight: bold;
  margin-left:15px;
}

p#titulo{
    font-size:40px;
    color:#425C44;
    border-bottom: red 3px solid;
    border-bottom-width:50%;
    margin-top:-10px;
 } 

.footer{
  background-color:#5f8162;
  height:150px;
  width:100%;
  color:white;
  font-size:18px;
  text-align: center;
  bottom:0;
  position: absolute;
}

table{
    width:90%;
    text-align: center;
    font-size:20px;
  }
  
  .title{
    font-weight: bold;
    color:red;
    font-size:22px;
  }
  
  table{
    margin-left:45px;
  }

 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
   table{margin-left:0%;}
 }

