
.lab-content{
background-color:white;
border-radius:12px;
width:100%;
height:auto;
display:flex;
margin-bottom:20px;
margin-left:13%;
}

.titulo{
    color:rgb(255, 0, 85);
    font-weight: bold;
    font-size:20px;
    margin-right:20px;
}

.info{
font-size:20px;
align-items: center;
}

select{
    width:80%;
    height:30px;
}

.title{
    color:rgb(255, 0, 85);
    font-weight: bold;
    font-size:23px;
}
.conteudo{
    align-items:center;
    margin-left:80px;
}
.subtitle{
    font-weight: bold;
    font-size:18px;
}

.pesquisar{
    width:500px;
    float:left;
    margin-left:20%;
    margin-bottom:30px;
    margin-top:20px;
    display: flex;
    flex-direction: row;

}

.pesq{
    width:60%;
    height:auto;
    background-color:white;
    border:0.5px solid lightgray;
    border-radius:3px 3px;
}

.pesq2{
    background-color:rgb(81, 189, 9);
    border-radius: 3px 3px;
    color:white;
    border: 1px solid rgb(81, 189, 9) 
}

.enviar{
    width:30px;
    height:30px;
    background-color:rgb(81, 189, 9);
    border-radius: 3px 3px;
    color:white;
    border: 1px solid rgb(81, 189, 9)
}

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }

 @media screen and (max-width:768px){

.lab-content{
 display: flex;
flex-flow: row wrap;
background-color:white;
height:40%;
margin-left:15px;
}

.pesquisar{
    width:100%;
    margin-left:20px;
}

}

