
.info-num{
    height:250px;
    width:300px;
    background-color:rgb(255, 212, 219);
    border-radius:12px;
    margin-right:20px;
    color:rgb(109, 109, 109);
    font-size:30px;
    text-align: center;
    justify-content: center;
}

.info-grafico{
    height:250px;
    width:500px;
    background-color:white;
    border-radius:12px;
    margin-right:20px;
}

.info-grafico img{
    margin-left:70px;
    height:250px;
    width:350px;
}

.container{
    display:flex;
    margin-left:27%;
    border-radius:12px;
}

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }

 @media screen and (max-width:768px){

    .container{
        flex-direction: column;
        margin-left:15px;
    }

    .info-num{
        width:100%;
        margin-bottom:30px;
    }

    .info-grafico{
        width:100%;
        margin-bottom:30px;
    }


}