
.container{
    color:black;
    background-color: white;
    border-radius: 12px;
    float:right;
    margin-left:0;
    height:100%;
    width:80%;  
}

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }