body {
    font-family: "Economica", sans-serif; 
    background-color:rgb(245, 245, 245);
}

.sidenav {
    height:auto;
    width:250;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color:#81AB85;
    border-radius:12px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #425C44;
    display: block;
    transition: 0.3s;
    margin-bottom:25px;
  }
  
  .sidenav a:hover {
    color: #81AB85;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


.id{
    color:white;
    font-size:18px;
    text-align:center;
    margin-top:5px;
}

.user{
    margin-top:50px;
    margin-left:90px;
    margin-bottom:20px;
}

.prontuario{
    margin-left:10px;
    color:white;
}

.content{
    font-size:30px;
    text-align:center;
}
.content a{
 text-decoration:none;
 color:white;
}

.content a:hover{
    color: rgb(216, 245, 218);
}

.hmenu{
    float:right;
    width:100%;
}

.hmenu ul li{
list-style-type:none;
display:inline;
}

.hmenu ul li:hover{
    color:rgb(245, 245, 245);
}

.hmenu ul li a {
    text-decoration:none;
    color:black;
    font-size:20px;
    float:right;
    margin-bottom:10px;
    margin-right:10px;
}
.hmenu ul li a:hover{
color:gray;
}
a#closebtn{
    color:white;
    display: none;
}

#hlist{
    display:none;
}

@media (max-width: 768px) {
    a#closebtn{
        display: block;
        color:white;
}
    
.sidenav{
height:auto;
}
    

a#closebtn{
display: block;
}
    
#menu{
color:white;
 background-color:#81AB85;
}

.sidenav{
 height:auto;
}

#hlist{
width:0px;
list-style-type: none;
display: block;
   }
    #menu{
       color:white;
       background-color:#81AB85;
    }

}

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }
