body {
    font-family: "Economica", sans-serif; 
    background-color:rgb(245, 245, 245);
}

.sidenav {
    height: 100%;
    width:250;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color:#81AB85;
    border-radius:12px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #425C44;
    display: block;
    transition: 0.3s;
    margin-bottom:20px;
  }
  
  .sidenav a:hover {
    color: #81AB85;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


.id{
    color:white;
    font-size:18px;
    text-align:center;
    margin-top:5px;
}

.user{
    margin-top:50px;
    margin-left:90px;
    margin-bottom:20px;
}

.prontuario{
    margin-left:10px;
    color:white;
}

.content{
    font-size:30px;
    text-align:center;
}
.content a{
 text-decoration:none;
 color:white;
}

.content a:hover{
    color: rgb(216, 245, 218);
}

.container{
    width:80%;
    height:auto;
    /* border-radius:12px; 
    background-color:white; */
    margin-left:18%;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width:230px;
    height:250px;
    background-color: white;
    margin-right:60px;
    border-radius:12px;
    margin-bottom:50px;
    -moz-box-shadow: 5px 5px 5px #979797;
}

.info{
    width:100%;
    height:45%;
    border-radius:5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color:rgb(255, 227, 232);
}

.title{
    font-weight: bold;
    color:rgb(255, 50, 84);
    font-size:20px;
}

.about{
    font-weight: bold;
}

.img-container{
    margin-left:60px;
}

img#imgphoto{
    margin-top:20px;
    margin-left:5px;
}

img#imgxampp{
    margin-top:20px;
    margin-left:05px;
}

a#closebtn{
    color:white;
    display: none;
}

@media (max-width: 768px) { 
    a#closebtn{
        display: block;
        color:white;
    }
    
    .sidenav{
        height:auto;
    }
    
    .container{
        margin-left:5px;
        width:100%;
}

a#closebtn{
    display: block;
}
    
    #hlist{
     width:0px;
     list-style-type: none;
    }
     #menu{
        color:white;
        background-color:#81AB85;
     }

}

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }